autopep8
bcrypt
blinker
click
Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
itsdangerous
Jinja2
MarkupSafe
packaging
pycodestyle
SQLAlchemy
toml
typing_extensions
Werkzeug
WTForms
